* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding: 5px 10px;
}

// ! ----- Header -----
.headerPart {
    position: fixed;
    top: 0;
    left: 10px;
    height: 85px;
    width: 98vw;
    background-color: #fff;
    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightblue;
}

.choose-interval {
    padding: 15px 0;
}
.choose-interval label,
.choose-interval select {
    margin-right: 25px;
}

// ! ----- TickersContainer -----
.mainPart {
    position: fixed;
    top: 85px;
    left: 10px;

    height: calc(100% - (85px + 60px));
    width: 99vw;
    background-color: #fff;
    padding: 0 10px;

    overflow-y: auto;
}

// ! ----- Stock Chart -----
tr,
th {
    text-align: center;
}

td.price.arrow-down {
    color: red;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 19px;
        right: -4px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: red;
        border-bottom: 0;
    }
}
td.price.arrow-up {
    color: green;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 19px;
        right: -4px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: green;
        border-top: 0;
    }
}

// ! ----- Footer -----
.footerPart {
    position: fixed;
    bottom: 0px;
    left: 10px;
    height: 50px;
    width: 98vw;
    border-top: 1px solid lightgrey;
    background-color: #fff;
    padding: 10px;
}

.stock-disclaimer {
    text-align: center;
}
